{% extends "base.html" %}


{% block content %}
    <h1>Customers</h1>

    <p>
        <a href="{% url "customers:new" %}">Add a customer</a>
    </p>
    <table class="table">
        <thead>
          <tr>
                <th>Name</th>
                <th></th>
          </tr>
        </thead>
        <tbody>
            {% for customer in object_list %}
                <tr>
                    <td>{{ customer.first_name }}</td>
                    <td>
                        <a href="{% url "customers:detail" customer.id %}">Show</a> |
                        <a href="{% url "customers:edit" customer.id %}">Edit</a> |
                        <a href="{% url "customers:delete" customer.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}